.col_change{
    color:black !important;
}
.back{
    
    padding: 12px;
    box-shadow: 5px 10px 18px #888888;
}
.someimg{
	font-size:20px;
	text-align:center;
}
h1{
    font-size:45px;
    font-family: 'Rajdhani', sans-serif;
    text-align:center;
}
.explore{
	color:white !important;
	font-size:17px;
	background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    float:middle;
}
.explore:hover{
	background-color: green;
}
